@media only screen and (max-width: 360px) {
    .navbar {           		 
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 20px;		  
    }		
    .navbar a {
        padding: 4px 4px 4px 32px;
        text-decoration: none;
        font-size: 20px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }
    .navbar a:hover {
        background: #ddd;
        color: black;
    }  

    .navbar .closebtn {
        position: absolute;
        top: 0;
        display: block;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }	

    .menuButton{ 
        font-size:30px;
        padding-right:4px;
        color:white;
        cursor:pointer;
        display: block;
        position:fixed;
        background-color:black;
        width:100%;
    } 

}

@media only screen and (min-width: 361px) {
    .navbar {           		 
        overflow: auto;
        white-space: nowrap;	 
        background-color: #333;
        position: fixed;
        top: 0;
        padding: 14px 16px;
        width: 100%;		 
    }
    .navbar .closebtn {
        position: absolute;
        display: none;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }		
    .navbar a {
        float: inline-block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }
    .navbar a:hover {
        background: #ddd;
        color: black;
    }  
    .menuButton{ 
        display: none;
    } 
}
body {margin:0;}


.main {
    padding: 16px;
    margin-top: 30px;
    height: 150px; /* Used in this example to enable scrolling */
}


.sectionpar{ 
    background-image: url('./imagens/paper.gif');
    background-repeat: repeat;margin-top:60pxg;height: 400px;
    
}	

section {padding:50px;}	
.sectionimpar{ background-color: #333;
 margin-top:60pxg;height: 400px;

}
#prototipo {border: 4px solid red;}	

