
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/login.css">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<script>
	function openNav() {
	  document.getElementById("mySidenav").style.width = "200px";
	}
	function closeNav() {
	  document.getElementById("mySidenav").style.width = "0";
}
</script>
</head>
<body>


<nav id="mySidenav" class="navbar">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	  <a href="/hotsite/service/exit.php?url=https://www.whatismyreferer.com/">link</a>		
	  <a href="#objetivos">Objetivos</a> 
	  <a href="#prototipo">Protótipo</a>
	  <a href="#prototipo">HTML Básico</a>   
	  <a href="#javascript">Javascript</a>
	  <a href="#javascript">Menu</a> 
	  <a href="#backend">Backend</a> 
	  <a href="#integracao">Integração</a>   
	  <a href="#referencias">Referências</a>	
	  <a href="javascript:void(0)" onclick="document.getElementById('login_modal').style.display='block'">Login</a>
</nav> 

<div class="menuButton" >
   <div style="display:inline" onclick="openNav()">&#9776 </div>
   <div style="float:right;padding-right:4px;padding-top:4px;" onclick="document.getElementById('login_modal').style.display='block'">
     <i style="color:white !important:padding:3px;" class="material-icons">login</i>
   </div>
</div>

<section id="objetivos" style="background-image: url('./imagens/paper.gif');
		background-repeat: repeat;margin-top:60pxg;height: 400px;">
		<h2>Objetivos</h2>		
		O foco de um site é a organizar conteúdos para que seja fácil de encontrar uma determinada informação. 
		Por outro lado, um minisite tem um conteúdo único, ou seja sua principal caracteristica é o foco. 
		Já o Hotsite, que é focado em uma única área, porém tem um prazo de validade determinha em semanas 
		ou meses e tem um apelo visual muito forte(Gabriel,2010).   
		<br>
		<br>
		Exemplo:<br>		
		<br>
		https://www.promocaomarcascampeas.com.br/
		<br>
		<br>
		https://blueprintt.co/data-science-forum/
				
	</section>

	<section id="prototipo" class="sectionimpar" style="height: 400px;">
      <h2>Protótipo</h2>	  
	     <img src="./imagens/prototipo.jpg" height="150px" alt="prototipo"/>		
	</section>  
	<section id="basicohtml" class="sectionpar">
      <h2>Estrutura Básica do HTML</h2>	
		1)Estrutura do documento<br>
		2)Criação dos Menus<br>
        3)Ajutes de css<br>
        4)Ajuste da renderização dos tamanhos<br>
							
	</section>	
	<section id="menu" class="sectionimpar" style="height: 400px;">
      <h2>Menu</h2>	  
	     Menu
	</section>     
	<section  id="javascript" class="sectionpar">
      <h2>Dinamicidade com javascript</h2>	 
	     Javascript
	</section>			
 	<section class="sectionimpar" style="height: 400px;">
      <h2>Login</h2>	  
	     Login
	</section>
	<section id="backend" class="sectionpar">
      <h2>Backend</h2>	  
	     Backend
	</section>
	<section id="integracao" class="sectionimpar" style="height: 400px;">
      <h2>Integração</h2>	  
	     Integração
	</section>  
    <section id="referencias" class="sectionpar">
	  <h2>Referencias</h2>
	 Martha Gabriel, Marketing na Era Digital: Conceitos, Plataformas e Estratégias, São Paulo Ed 1, NovaTec, 2010		
	</section>
	
	
  <div id="login_modal" class="modal">  
  <form class="modal-content animate" action="/hotsite/service/login.php" method="post">    
    <div class="container">
      <label for="login"><b>Login</b></label>
      <input type="text" placeholder="Login" name="login" required>
      <label for="password"><b>Senha</b></label>
      <input type="password" placeholder="Senha" name="senha" required>        
      <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Lembrar senha
      </label>
    </div>
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('login_modal').style.display='none'" class="cancelbtn">Cancelar</button>
      <span class="psw">Esqueceu a <a href="#">senha?</a></span>
    </div>
  </form>
</div>

	
	
    <footer style="background-color: black;">	    
		<span style="color:white;">Sobre o autor:</span>		
		<image style="display: block;
		margin-left: auto;
		margin-right: auto;border:solid 1px gray;" src="https://www.gravatar.com/avatar/c94a3169f02c717ac2e9a713a12687f6" alt="avatar" />	
        
		
	 </footer> 

<body>
</html>