
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/login.css">

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <script>
            function openNav() {
                document.getElementById("mySidenav").style.width = "200px";
            }
            function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
            }
        </script>
        
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="materialize/js/materialize.min.js"></script>  
        <script type="text/javascript" src="js/visao/hotsitevisao.js"></script>
        <script type="text/javascript" src="js/modelo/persistencia.js"></script>
        <script type="text/javascript" src="js/modelo/persistenciaHotsite.js"></script>
        <script type="text/javascript" src="js/util/event.js"></script>
        <script type="text/javascript" src="js/controle/hotsiteController.js"></script>
        
        
        
        
    </head>
    <body onload="inicializacao();">
         
        
        <SCRIPT>

    var controle = new HotsiteController();	
	function inicializacao(){
		//controle.setEstrategiaPersistenciaLocal();
		controle.atachListenerVisaoLoadAll();
		controle.atualizarLista();		
		
    }
    
</script>


        <nav id="mySidenav" class="navbar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#objetivos">Objetivos</a> 
            <a href="#prototipo">Protótipo</a>
            <a href="#prototipo">HTML Básico</a>   
            <a href="#javascript">Javascript</a>
            <a href="#javascript">Menu</a> 
            <a href="#backend">Backend</a> 
            <a href="#integracao">Integração</a>   
            <a href="#referencias">Referências</a>	
            <a href="javascript:void(0)" onclick="document.getElementById('login_modal').style.display = 'block'">Login</a>
        </nav> 

        <div class="menuButton" >
            <div style="display:inline" onclick="openNav()">&#9776 </div>
            <div style="float:right;padding-right:4px;padding-top:4px;" onclick="document.getElementById('login_modal').style.display = 'block'">
                <i style="color:white !important;padding:3px;" class="material-icons">login</i>
            </div>
        </div>


        <div id='listaquadros'>   </div>
       

        <div id="login_modal" class="modal">  
            <form class="modal-content animate" action="/hotsite/service/logindb.php" method="post">    
                <div class="container">
                    <label for="login"><b>Login</b></label>
                    <input type="text" placeholder="Login" name="login" required>
                    <label for="password"><b>Senha</b></label>
                    <input type="password" placeholder="Senha" name="senha" required>        
                    <button type="submit">Login</button>      
                </div>
                <div class="container" style="background-color:#f1f1f1">
                    <button type="button" onclick="document.getElementById('login_modal').style.display = 'none'" class="cancelbtn">Cancelar</button>
                    <span class="psw">Esqueceu a <a href="#">senha?</a></span>
                </div>
            </form>
        </div>



        <footer style="background-color: black;">	    
            <span style="color:white;">Sobre o autor:</span>		
            <image style="display: block;
                   margin-left: auto;
                   margin-right: auto;border:solid 1px gray;" src="https://www.gravatar.com/avatar/c94a3169f02c717ac2e9a713a12687f6" alt="avatar" />	

           <p style="color:white;">SERVIDOR 2</p>
        </footer> 

    </body>
</html>